<option>Select a Category</option>
<option value="Electronics">Electronics</option>
<option value="Automobile">Automobile</option>
<option value="Furniture">Furniture</option>
<option value="Pets">Pets</option>
<option value="Sports">Sports/Outdoor Equipment</option>
<option value="Apparel">Apparel</option>
<option value="Toys">Toys</option>
<option value="Other">Other</option>