@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">eMarket</h1>
    <p>This is our ecommerce website</p>
    <select id="categories" name="categories">
        <option value="Automobile">Automobile</option>
        <option value="Electronics">Electronics</option>
        <option value="Furniture">Furniture</option>
    </select>
    <p>This will be a list of ads.</p>
</div>
